.chat-window {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: white;
}

.chat-loading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: #6c757d;
}
